
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto+Condensed:wght@300&display=swap');

*{
    padding : 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Variables*/

:root{
    --maim-color : #212F3D;
    --second-color : #192f6a;
    --text-color : #ECF0F1;
    --second-text-color: #273746;
    --bg-color: #d7dbdd52 ;
    --second-bg-color : #FDFEFE;
    /* Box Shadow*/
    --box-shadow : 2px 2px 18px rgb(14 52 54 / 20%); 
    
}


/*Header style*/
header {
    background-color: var(--maim-color);
    width: 100%;
    height: 80px;
    
    

}
.header-nav {
    max-width: 1300px;
    top : 0;
    left : 0;
    background-color: var(--maim-color);
    width: 100%;
    color : var(--text-color);
    padding: 0 20px
    
    
}
header .logo {
    float : left;
}
header nav {
    float : right;
}
header nav ul {
    display : flex;
}
header nav ul  li {
    list-style: none;
}
header .logo {
    float: left;
    line-height: 80px;
    color: var(--text-color);
    text-transform: uppercase;
}
header .logo i{
    font-size: 1.5rem;
    margin-right: 5px;
}
header a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 1.3;
}
header nav ul li a {
    color : var(--text-color);
    padding : 0 16px;
    height: 80px;
    display: block;
    line-height: 80px;
}
header nav ul li a:hover,
header nav ul li a.active{
    color: var(--second-color);
    background-color: var(--text-color);
}
.menu-toggle i{  
    float:right;
    font-size:24px;
    line-height: 80px;
    cursor: pointer;
    display: none;
    color: var(--text-color);
}
.section-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("topimg.png");
    background-size: cover;
    background-position: center;
    filter: brightness();
    max-width: 1300px;
    height: 70vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    top: 100px;
    
}
   .home-button1{
  color: white;
  text-decoration: none;
  border: 2px white solid;
  padding: 10px 15px;}
  
  .container {
    text-align: center;
    color: white;
  }
  
  h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 4rem;
    font-weight: 300;
  }
  
  p {
    font-size: 1.15rem;
    letter-spacing: 3px;
    margin: 20px 0 40px;
  }
  body {
    max-width: 1140px;
    margin: 0 auto;
    
  }
  .animate-charcter
{
   text-transform: lowercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
font-size: 40px;
text-align: right;
justify-content: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
  
  
  * {
    font-family: Lato;
  }
  .features{
    background-color: #dddcdb;
  }
  
  .feature--image img {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .33);
   
  }
  
  .feature-pair:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .feature-pair {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 64px;
  }
  
  .feature {
    flex-basis: 45%;
    text-align: center;
  }
  
  .feature--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
  .heading{
    font-size: 23px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid rgb(219, 219, 219);
    margin: 0;
    line-height: 27px;

  }
  .para{
    font-size: 18px;
    font-weight: 300;
    color: #4e4e4e;
    line-height: 28.8px;
    margin-top: 5px;
  }
  



/*Container consists of:
1- Welcome photo
2- About section.
3- Card's section
*/
/*
* {
	box-sizing: border-box;
    align-items: center;
    left: 70px;
}

body {
	padding: 0;
	margin: 0;
    left: 50px;
}

.menu ul {
	text-align: center;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	padding: 10px 15px;
	border: 1px solid #eee;
	cursor: pointer;
	transition: all .5s;
}

ul li:hover {
	background: #222;
	color: #eee;
}


img {
	width: 100%;
	height: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
    justify-content: center;
    background-image: url(images/hotel.png);
    background-size: cover;
    background-color: #17202A;
    height: 50%;
    width: 50%;
    left: 30px;
    
}

 Four column layout 
.column {
	flex: 25%;
	max-width: 50%;
	padding: 0 4px;
   
}

.column img {
	margin-top: 8px;
	vertical-align: left;*/

.rounded {
    border-top: 8px solid yellow;
    border-radius: 5px;
    top: 200px;
  }



/*
3-Card's section


.cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(240px, auto) );
    gap : 3rem;
    margin : 20px 0;
    padding : 20px 0;
}*/
.box{
    text-align: center;
    font-size: 0.9rem;
    height: 230px;
    border-radius: 30px;
    border-color: #192f6a;
    padding: 20px;
    background-color: var(--box-shadow);
    box-shadow : var(--box-shadow);
    bottom: 200px;
}
.box:hover{
    background-color: var(--second-color);
    color: var(--text-color);
}
.box i {
    font-size: 1.6rem;
}
*/

Here are the style attributes for footer 



footer {
    background-color:var(--maim-color);
    width: 100%;
}
.footer-info{
    max-width: 1300px;
    background-color:var(--maim-color);
    color :var(--text-color);
    padding: 30px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    
}
.title-info {
    font-weight: blod;
    font-size: 1.5rem;
    border-bottom: 1.5px solid #AEB6BF;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 8px;
}
.map-info{
   height: 140px; 
   width: 240px;
   border : 2px solid #AAB7B8;
   border-radius: 20px;
}
.map-info iframe{
    border-radius: 15px;
}
.footer-info p {
    margin: 10px;
}
.contact-info {
    align-items: center;
}
.contact-info p i {
    margin-right: 10px;
}
.contact-info p  a{
    color: var(--text-color);
    font-size: 1rem;
}
.Social-media a i:hover{
    background-color:#AEB6BF ;
    color: #17202A;
}
.Social-media{
    display: flex;
    margin: 0 auto;

}
.Social-media a i {
    color: var(--text-color);
    margin: 5px 10px 10px 0;
    font-size: 1.5rem;
    display: inline-block;
    background-color: var(--maim-color);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
}
 




@media  (min-width: 1300px) {
    .contain {
        margin-right : auto;
        margin-left: auto
    }
    .header-nav {
        margin-right: auto;
        margin-left: auto;
    }
    .footer-info{
        margin-right : auto;
        margin-left: auto
    }
}
@media(max-width: 900px){    
    header{
        padding:0 20px;
    }
    .menu-toggle i {
        display: block;
    }
    header nav {
        position: absolute;
        width: 50%;
        height: auto;
        background-color: #212F3D;
        top: 80px;
        left:-100%;
        transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px solid black;
    }
    
    /*@media cards sction
    .cards{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, auto));

        gap: 1rem;
    }*/
    .box{
        padding: 20px;
    }*/
    /* Footer attributes for tablits size*/
   .footer-info{
    display: block;
}
    
.open-time, .contact-info, .location {
    padding-bottom: 20px;
}
}
@media(max-width: 500px){
    header {
        padding:0 20px;
    }
    .menu-toggle i{
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: auto;
        background-color:#212F3D;
        top: 80px;
        left:-100%;
        transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px solid black;
    }
    
    .footer-info{
        display:flex ;
        flex-wrap: wrap;
    }
}